@model WorkFlowProject.Models.Account.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="label">Username</label>
            <div class="input-group">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" , @placeholder = "Username" } })
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password" , @class="form-control" ,  @placeholder="*********" } })
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary submit-btn btn-block"/>
        </div>

    </form>
}


