@model IEnumerable<WorkFlowProject.Models.Account.ListLeaves>

@{
    ViewBag.Title = "AproveLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header row no-gutters py-4 mb-3 border-bottom">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Leaves</span>
        <h3 class="page-title">Leave & Status</h3>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <!-- Add New Post Form -->
        <div class="card card-small mb-3">
            <div class="card-body">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Leave Requests</h6>
                </div>
                @foreach (var item in Model)
                {
                    <div class="card-body p-0">
                        <div class="blog-comments__item d-flex p-3">
                            <div class="blog-comments__avatar mr-3">
                                <img src="@Url.Content(item.ImagePath)" />
                            </div>
                            <div class="blog-comments__content">
                                <div class="blog-comments__meta text-muted">
                                    <a class="text-secondary" href="#">@Html.DisplayFor(modelItem => item.FullName)</a> Request leave for
                                    <a class="text-secondary" href="#">@Html.DisplayFor(modelItem => item.LeavePeriod)</a>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="m-0 my-1 mb-2 text-muted">@Html.DisplayFor(modelItem => item.Reason)</p>
                                <div class="blog-comments__actions">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-white">
                                            <span class="text-success">
                                                <i class="material-icons">check</i>
                                            </span>@Html.ActionLink("Approved", "LeaveApproved", new { id=item.LeaveId })
                                        </button>
                                        <button type="button" class="btn btn-white">
                                            <span class="text-danger">
                                                <i class="material-icons">clear</i>
                                            </span>@Html.ActionLink("Reject", "LeaveReject", new { id = item.LeaveId })

                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="card-footer border-top">
                    <div class="row">
                        <div class="col text-center view-report">
                            @*<button type="submit" class="btn btn-white">View All Requests</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Add New Post Form -->
    </div>
</div>